<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      {{ website_title | escape }} {% if page_title %} -
      {{ page_title | escape }} {% endif %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="www.artcat.com" />
    {% if website.favicon_url %}
    <link rel="shortcut icon" href="{{ website.favicon_url }}" />
    {% else %}
    <link rel="shortcut icon" href="/favicon.ico" />
    {% endif %}
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="/feed.rss"
    />
    <meta name="description" content="{{ website_description | escape }}" />
    <meta name="keywords" content="{{ website_keywords | escape }}" />
    {% client_css %} {% if theme_customize %}
    <style>
      body, p, p.thumb-caption {
        color: {{ theme_customize.body_color }};
        background-color: {{ theme_customize.background_color }};
        font: {{ theme_customize.body_size }}px {{ theme_customize.body_font }}
      }
      a:link, a:visited, a:active { color: {{ theme_customize.link_color }} }
      a:hover { color: {{ theme_customize.link_hover_color }} }
      .SiteName { font: normal {{ theme_customize.title_size }}px {{ theme_customize.title_font }};}
      .SiteName a { color: {{ theme_customize.title_color }} }
      ul.NavList { padding-top: {{ theme_customize.title_size | minus: 14}}px; }
      ul.NavList li { border-left: 1px solid {{ theme_customize.background_color }} }
      ul.NavList li a { color: {{ theme_customize.nav_link_color }}; font: normal  {{ theme_customize.nav_link_size }}px {{ theme_customize.nav_link_font }} }
      ul.NavList li.CurrentPosition { border-left: 1px solid {{ theme_customize.background_color }} }
      ul.NavList li.CurrentPosition a { color: {{ theme_customize.active_nav_color }} }
      img { border: 2px solid {{ theme_customize.background_color }} }
      a:hover img { border: 2px solid {{ theme_customize.background_color }} }
      h2, h2.resume { font: bold {{ theme_customize.header_size }}px {{ theme_customize.header_font }}; color: {{ theme_customize.header_color }} }
    </style>
    {% endif %} {% if lightbox %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write('<script src="/jquery-1.8.2.min.js"><\/script>');
    </script>
    <!-- Add fancyBox -->
    <script
      type="text/javascript"
      src="https://assets-p.artcat.com/fancybox3/beta/jquery.fancybox.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://assets-p.artcat.com/fancybox3/beta/jquery.fancybox.css"
      type="text/css"
      media="screen"
    />
    {% endif %}
  </head>
  <body class="{{ body_class }}">
    <div id="Navigation">
      <div class="SiteName">
        <a href="/"
          >{% if website.logo_url %}
          <img
            src="{{ website.logo_url }}"
            alt="{{ website_title | escape }}"
          />{% else %}{{ website_title | escape }}{% endif %}</a
        >
      </div>

      <ul class="NavList">
        {% for nav in website.nav_links %} {% if nav.path == active_section %}
        <li class="CurrentPosition">
          {% else %}
        </li>

        <li>
          {% endif %}
          <a href="{{ nav.path | escape }}">{{ nav.name | escape }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div id="Content">
      {{ content_for_layout }}
    </div>
    <!-- id=Content -->

    <div id="Credits">
      <div class="ArtCatCredit">
        Powered by <a href="{{ referral_link | escape }}">ArtCat</a>
      </div>
      <div class="copyright">{{ website_footer }}</div>
    </div>
    {% client_js %}
    <script
      src="https://assets-p.artcat.com/srcset.min.js"
      type="text/javascript"
    ></script>

    {% if lightbox %}
    <script type="text/javascript">
      $(document).ready(function() {
        $(".fancybox").fancybox({
          caption: {
            type: "outside"
          },
          padding: 0
        });
      });
    </script>
    {% endif %} {% google_code %}
  </body>
</html>
