<div id="PrimaryColumn"> 

  {% unless artist_press == empty %}
    <h1>Artists</h1>
    {% for ap in artist_press %}
      <h2><a href="{{ ap.artist.page_url }}">{{ ap.artist.name }}</a></h2>
      <ul class="press">
        {% for press in ap.press_items %}
        <li><a href="{{ press.page_url }}"{% if press.is_file? or press.is_link? %} target="_blank" {% endif %}>{{ press.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endunless %}

  {% unless exhibition_press == empty %}
    <h1>Exhibitions</h1>
    {% for ep in exhibition_press %}
      <h2><a href="{{ ep.exhibition.page_url }}">{{ ep.exhibition.title }}</a></h2>
      <ul class="press">
        {% for press in ep.press_items %}
        <li><a href="{{ press.page_url }}">{{ press.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endunless %}

  {% unless general_press == empty %}
    <h1>Gallery</h1>
    <ul class="press">
      {% for press in general_press %}
      <li><a href="{{ press.page_url }}"{% if press.is_file? or press.is_link? %} target="_blank" {% endif %}>{{ press.title }}</a></li>
      {% endfor %}
    </ul>
  {% endunless %}

</div>
