<div class="left_column">
{% for n in news %}
  {% if n.has_title? %}
  <h3>{{ n.title }}</h3>
  {% endif %}
  
  {% if n.has_date? %}
  <p class="news_date">{{ n.display_date }}<p>
  {% endif %}
  
  {% if n.has_summary? %}
    {{ n.summary | textilize }}
  {% else %}
    {{ n.body | truncate:250 | textilize }}
  {% endif %}
  
  <p class="news_more"><a href="{{ n.page_url }}">more &raquo;</a></p>
{% endfor %}


</div>
