<div id="SecondaryColumn"> 

  {{ artist.description | textilize }}

  {% if artist.doc_url %}
    <p><a target="_blank" href="{{ artist.doc_url }}">Download Resume</a> (Word)</p>
  {% endif %}

  {% if artist.pdf_url %}
    <p><a target="_blank" href="{{ artist.pdf_url }}">Download Resume</a> (PDF)</p>
  {% endif %}

  {% if exhibitions != empty %}
    <h2>Exhibitions</h2>
    {% for exhibition in exhibitions %}
    <p><a href="{{ exhibition.page_url }}">{{ exhibition.title | escape }}
      ({{ exhibition.start_date || date:"%Y" }})</p>
    {% endfor %}
  {% endif %}

  {% if publications != empty %}
    <h2>Publications</h2>
    {% for publication in publications %}
    <p class="publication"><a href="{{ publication.page_url }}">{{ publication.title | escape }}</a></p>
    {% endfor %}
  {% endif %}

  {% if press_items != empty %}
    <h2>Selected Bibliography</h2>
    {% for press_item in press_items %}
    <p class="press">
      <a href="{{ press_item.page_url }}">{{ press_item.title | escape }}{% if press_item.has_display_date? %}, {{ press_item.display_date }}{% endif %}</a>
    </p>
    {% endfor %}
  {% endif %}


</div>

<div id="PrimaryColumn"> 

  <h1 class="artist-list">{{ artist.name }}</h1>

  {% for c in collections %}
    {% assign work = c.featured_work %}
    <div class="thumb-float">
      <div class="thumb-img"><a href="{{ c.page_url }}"><img src="{{ work.featured_image.thumb_url }}" alt="{{ c.title | escape }}"/></a></div>
      <p class="thumb-caption">{{ c.title | escape }}</p>
    </div>
  {% endfor %}

  {% for work in works %}
    <div class="thumb-float">
      <div class="thumb-img"><a href="{{ artist.page_url }}/{{ work.fragment_url }}"><img src="{{ work.featured_image.thumb_url }}" alt="{{ work.title | escape }}"/></a></div>
      <p class="thumb-caption">{{ work.title| escape }}, {{ work.date }}</p>
    </div>
  {% endfor %}

  <br class="clear" />

</div>

