<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="language" content="English" />
    <title>
      {{ website_title | escape }} {% if page_title %} -
      {{ page_title | escape }} {% endif %}
    </title>

    <meta name="author" content="www.artcat.com" />
    {% if website.favicon_url %}
    <link rel="shortcut icon" href="{{ website.favicon_url }}" />
    {% else %}
    <link rel="shortcut icon" href="/favicon.ico" />
    {% endif %}
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="/feed.rss"
    />
    <meta name="description" content="{{ website_description | escape }}" />
    <meta name="keywords" content="{{ website_keywords | escape }}" />
    {% client_css %} {% client_js %}

    {% if theme_customize %}
    <style>
      html, body, nav{
        background-color: {{ theme_customize.background_color }};
        color: {{ theme_customize.body_color }};
        font: {{ theme_customize.body_size }}px {{ theme_customize.body_font }}
      }

      a:link, a:visited, a:active { color: {{ theme_customize.link_color }} }

      a:hover { color: {{ theme_customize.link_hover_color }} }

      h1, h2, h3, h4, h5, h6 { 
        font: bold {{ theme_customize.header_size }}px {{ theme_customize.header_font }}; 
        color: {{ theme_customize.header_color }} 
      }

      p, h3, h4, h5, h6{
        font-family: ;
        font-size: 1rem;
        color:;
      }

      /* MENU */
      a.site-title{
        color: ;
      }
      a.hover{
        color: ;
      }

      nav > ul > li > a, nav > ul > li > a:hover{
        font-family:;
        font-size:;
        color:black;
      }

      nav > ul > li > a.current{
        color:;
      }

      .lightbox > .container > .counter{
        font-family: ;
        font-size: ;
      }

      a.exhibition, a.exhibition:hover{
        color: ;
      }


      body, p, p.thumb-caption {
        background-color: {{ theme_customize.background_color }};
        color: {{ theme_customize.body_color }};
        font: {{ theme_customize.body_size }}px {{ theme_customize.body_font }}
      }
      .SiteName { font: normal {{ theme_customize.title_size }}px {{ theme_customize.title_font }};}
      .SiteName a { color: {{ theme_customize.title_color }} }
      h2, h2.resume { font: bold {{ theme_customize.header_size }}px {{ theme_customize.header_font }}; color: {{ theme_customize.header_color }} }
    </style>
    {% endif %}
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="site-title">{{ website_title | escape }}</a>
        <ul>
          {% for nav in website.nav_links %}
          <li>
            <a href="{{ nav.path | escape }}">{{ nav.name | escape }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="mobile-icon">
        <div class="mobile-bars"></div>
        <div class="mobile-bars"></div>
        <div class="mobile-bars"></div>
      </div>
    </nav>
    <main>
      <div class="content">
        {{ content_for_layout }}
      </div>
      <!-- end of div 'content' -->
    </main>
    <footer>
      <div class="footer-wrapper">
        <div class="footer-text">{{ website_footer }}</div>
        <div class="footer-text">
          Powered by <a href="{{ referral_link | escape }}">ArtCat</a>
        </div>
      </div>
    </footer>
    {% google_code %}
  </body>
</html>
