<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ website_title | escape }} {% if page_title %} - {{ page_title | escape }} {% endif %}</title>
  <meta name="author" content="www.artcat.com">
  <meta name="description" content="{{ website_description | escape }}">
  <meta name="keywords" content="{{ website_keywords | escape }}">
  <meta name="viewport" content="width=device-width">
  {% if website.favicon_url %}  
  <link rel="shortcut icon" href="{{ website.favicon_url }}">
  {% else %}
  <link rel="shortcut icon" href="/favicon.ico">
  {% endif %}
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <script src="http://assets-p.artcat.com/modernizr-2.6.2.min.js" type="text/javascript"></script>
  {% client_css %}
</head>
<body class="{{ body_class }}">
    <div class="main_wrapper">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <section id="header">
      <h1>
        {% if website.logo_url %}
        <a href="/"><img src="{{ website.logo_url}}" alt="{{ website_title | escape }}" /></a>
        {% else %}
        <a href="/">{{ website_title }}</a>
        {% endif %}
      </h1>
      {% client_navigation %}
    </section>

    <section id="main">
      <div class="wrapper">
        {{ content_for_layout }}
      </div><!-- closses .wrapper -->
    </section>

    <section id="footer">
      <div class="footer_wrapper">
        <p class="copyright">{{ website_footer }}</p>
        <p class="made_by"><a class="artcat" href="{{ referral_link | escape }}">Powered by ArtCat</a></p>
      </div><!-- .footer_wrapper -->
    </section>
  </div><!-- closes .main_wrapper -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/jquery-1.8.2.min.js"><\/script>')</script>

  {% client_js %}
  {% google_code %}

</body>
</html>

