<div id="PrimaryColumn"> 

  {% for n in news %}
  <div class="news-list-item">

    {% if n.has_title? %}
    <h2 class="news">{{ n.title }}</h2>
    {% endif %}

    <div class="news-details">
      
      {% if n.has_date? %}
      <p class="news-added">{{ n.display_date }}<p>
      {% endif %}
      
      <div class="news-summary">
        {% if n.has_summary? %}
          {{ n.summary | textilize }}
        {% else %}
          {{ n.body | truncate:250 | textilize }}
        {% endif %}
      </div>
      
      <p class="news-more"><a href="{{ n.page_url }}">more &raquo;</a></p>

    </div>
  </div>
{% endfor %}

</div>
