<div id="static">

	<div class="news">

{% for news in news_list %}
  {% if news.has_title? %}
  <h3>{{ news.title }}</h3>
  {% endif %}
  
  {% if news.has_date? %}
  <p class="news_date">{{ news.date }}<p>
  {% endif %}
  
  {% if news.has_summary? %}
  {{ news.summary | textilize }}
  {% else %}
  {{ news.body | truncate:250 | textilize }}
  {% endif %}
  
  <p class="news_more"><a href="{{ news.page_url }}">more &raquo;</a></p>
{% endfor %}

  </div>
</div>
