<div class="column full-width">
  <h1>{{ portfolio.name | escape}}</h1>
</div>

<div class="column full-width">
{% for work in works %}
	<div class="image-set">
    <a href="{{ work.page_url }}">
      {{ work.featured_image | responsive_image_thumb }}
    </a>
    <p>{{ work.title | escape }}</p>
  </div>
{% endfor %}
</div>

{% if portfolio.has_description? %}
  <div class="column">
    {{ portfolio.description | textilize }}
  </div>
{% endif %}

{% if portfolio.has_press? %}
  <div class="column">
  {% if portfolio.has_press? %}
    <h3>Press</h3>
    {% for press_item in portfolio.press_items %}
      <p>
        <a class="list-item" href="{{ press_item.page_url }}">
          {{ press_item.title | escape }}{% if press_item.display_date != empty %}, {{ press_item.display_date }}{% endif %}
        </a>
      </p>
       
    {% endfor %}
  {% endif %}
  </div>
{% endif %}
