<div id="breadcrumb">
  <a href="/image_sets">Image Sets</a> &gt; <h3>{{ image_set.name | escape}}</h3>
</div>

<ul id="portfolio-contents" class="clearfix">

  {% if image_set.has_description? %}
    <li class="about-this-portfolio">
      {{ image_set.description | textilize }}
    </li>
  {% endif %}


{% for image in images %}
    <li>
      <div class="limit-thumb140"><a href="{{ image.page_url }}"><img src="{{ image.thumb_url }}" alt="{{ image.caption | escape }}" /></a></div>
      <p>{{ image.caption | escape }}</p>
    </li>

{% endfor %}

