<h1><a title="Return to {{ image_set.name | escape }}" href="{{ image_set.page_url}}">{{ image_set.name }}</a></h1>

<div id="PrimaryColumn">

{{ image | responsive_image_large }}

<p class="caption">{{ image.caption | textlize_inline }}</p>

{% if total_image_count > 1 %}
<p class="prevnext">
  {% if prev %}
<a href="{{ prev }}">&lt;&lt;</a>
  {% endif %}
&nbsp;&nbsp;
  {% if next %}
  <a href="{{ next }}">&gt;&gt;</a>
  {% endif %}
</p>
{% endif %}

</div>

