{% unless website.home_page_image_only? %}
  <div id="SecondaryColumn"> 

  {% if website.home_page_announcement != '' %}
    {{ website.home_page_announcement | textilize }}
    <br />
  {% endif %}

  <!-- news -->
  {% unless website.home_page_news == empty %}
    <div class="newsblock">
    {% for news in website.home_page_news %}
      {% if news.title %}
      <h2 class="news"><a href="{{ news.page_url }}">{{ news.title | escape }}</a></h2>
      {% endif %}
      {% if news.display_date %}
      <p class="news-added">{{ news.display_date }}</p>
      {% endif %}

      <div>
        {% if news.summary != '' %}
          {{ news.summary | textilize }}
        {% else %}
          {{ news.body | truncate:250 | textilize }}
        {% endif %}
        <p><a href="{{ news.page_url }}">more &gt;&gt;</a></p>
      </div>
    {% endfor %}
    </div>
  {% endunless %}

  </div>
{% endunless %}

  <div id="PrimaryColumn"> 
    {% if website.home_image_large_url %}
    <!-- override home page with an image -->
    <div id="home-image">
      <img src="{{ website.home_image_large_url }}" alt="{{ home_caption | escape }}" />
      <div class="caption">{{ website.home_caption | textilize }}</div>
    </div>
    {% else %}
      {% for exhibition in exhibitions %}
      <h1 class="home-exhibition-title"><a href="{{ exhibition.page_url }}">{{ exhibition.title | escape }}</a></h1>
      <div class="exhibition-subtitle">{{ exhibition.subtitle | escape }}</div>

      <div class="exhibition-dates">
        {% if exhibition.start_and_end_year_same? %}
          {{ exhibition.start_date | date: "%B %e" }}
        {% else %}
          {{ exhibition.start_date | date: "%B %e, %Y" }}
        {% endif %}
        - {{ exhibition.end_date | date: "%B %e, %Y" }}
      </div>

      {% if exhibition.opening_date %}
      <div class="exhibition-opening">
        Opens {{ exhibition.opening_date | date: "%A, %B %e"}},
        {{ exhibition.opening_start | date: "%l:%M %p "}} - {{ exhibition.opening_end | date: "%l:%M %p "}}
      </div>
      {% endif %}

        {% if exhibition.featured_work %}
          {% assign work = exhibition.featured_work %}
          <!-- exhibition work -->
          <a href="{{ exhibition.page_url }}">{{ work.featured_image | responsive_image_large }}</a>  
          <p>{{ work.artist.name }}, <em>{{ work.title }}</em>{% if work.date != empty %}, {{ work.date }} {% endif %} </p>
          <p>
          {{ work.medium }}{% if work.size != empty %}, {{ work.size }} {% endif %}
          </p>
        {% elsif exhibition.images %}
          {% assign image = exhibition.images.first %}
          <a href="{{ exhibition.page_url }}">{{ image | responsive_image_large }}</a>  
          <div class="caption">{{ image.caption | textilize }}</div>
        {% endif %}

        <div class="exhibition-description">{{ exhibition.description | textilize }} </div>

        <br/><p>&nbsp;<br/>&nbsp;</p>


      {% endfor %}
    {% endif %}
  </div>
