<div id="SecondaryColumn"> 
  <div class="exhibition-description">{{ image.caption }}</div> 
    <p>
    {% if prev %}
    <a href="{{prev}}">&lt;&lt; Previous</a> |
    {% endif %}
    {{ img_idx }} of {{ total_image_count }}
    {% if next %}
    | <a href="{{next}}">Next &gt;&gt;</a>
    {% endif %}
    </p>
</div>

<div id="PrimaryColumn"> 
  <h1><a href="{{image_set.page_url}}">{{ image_set.name | escape }}</a></h1>
  <img src="{{ image.large_url}}" alt="{{ image.caption | esscape }}" />
</div>
