<div id="breadcrumb">
  <a href="/portfolios">Works</a> &gt; <h3>{{ portfolio.name | escape}}</h3>
</div>

<ul id="portfolio-contents" class="clearfix">
  
  {% if portfolio.has_description? or portfolio.has_press? %}
    <li class="about-this-portfolio">
      {{ portfolio.description | textilize }}
  
    {% if portfolio.has_press? %}
      <h1>Press</h1>
      {% for press_item in portfolio.press_items %}
        <p><a href="{{ press_item.page_url }}">{{ press_item.title | escape }}</a></p>
      {% endfor %}
    {% endif %}
    </li>
  {% endif %}
  {% for work in works %}
    <li>
      <div class="limit-thumb140"><a href="{{ work.page_url }}"><img style="max-width:140px" src="{{ work.featured_thumb_url }}" alt="{{ work.title | escape }}" /></a></div>
      <p>{{ work.title | escape }}</p>
    </li>
  {% endfor %}
  
</ul>
