<div id="SecondaryColumn">

{% if work.has_media_or_embed? %}
<p class="work-data">
  {% if work.audio? %}
    <a href="{{ artist.page_url }}/{{ work.fragment_url }}">audio file</a>
  {% elsif work.embed_code_html_large %}
    <a href="{{ artist.page_url }}/{{ work.fragment_url }}"><img class="limit-thumb140" src="{{ work.embed_thumb_url }}" alt="video" /></a><p>video</p>
  {% else %}
    <a href="{{ artist.page_url }}/{{ work.fragment_url }}"><img class="limit-thumb140" src="{{ media_thumb_url }}" alt="video" /></a><p>video</p>
  {% endif %}
</p>
<br/>
{% endif %}

{% if work.has_alternate_views? %}

<ul class="artist-details">

  {% for image in work.images %}
  <li><a href="{{ artist.page_url }}/{{ work.fragment_url }}/{{forloop.index}}"><img src="{{ image.thumb_url }}" alt="{{ work.title | escape }} {{ image.caption | escape }}" /></a><p class="thumb-caption">{{ image.caption | escape }}</p></li>
  {% endfor %}

</ul>

<br class="clear" />

{% endif %}

<p class="work-data">
{% unless work.artist.hidden? %}
<a href="{{ artist.page_url }}">{{ work.artist.name }}</a>
{% else %}
{{ work.artist.name }}
{% endunless %}
</p>

<p class="work-title">{{ work.title }}</p>
<p class="work-data">{{ work.date }}</p>
<p class="work-data">{{ work.medium }}</p>
<p class="work-data">{{ work.size }}</p>

{{ work.description | textilize }}

{% if work.ref_number != empty %}
<br />
<p class="work-data">ref: {{ work.ref_number }}</p>
{% endif %}

</div>

<div id="PrimaryColumn">

<h1><a title="Return to {{ artist.name | escape }}" href="{{ artist.page_url }}">{{ artist.name | escape }}</a></h1>

{% if show_media %}
  {% if work.embed_code_html_large %}
    {{ work.embed_code_html_large }}
  {% elsif work.audio? %}
  <a href="{{ work.media.audio_url }}" class="audio-link">audio file</a>
  {% else %}
  {% video_embed('large') %}
  {% endif %}
{% else %}
  {{ image | responsive_image_large }}
  {% if image.caption %}
  <p class="caption">{{ image.caption | textlize_inline }}</p>
  {% endif %}
{% endif %}

{% if total_works > 1 %}
<p>
  {% if prev %}
<a href="{{ prev }}">&lt;&lt; Previous</a> |
  {% endif %}

  {% for link in work_links %}
    {% if link.path %}
      <a href="{{ link.path }} ">{{ link.name }}</a>
    {% else %}
      <strong>{{ link.name }}</strong>
    {% endif %}
  {% endfor %}

  {% if next %}
| <a href="{{ next }}">Next &gt;&gt;</a>
  {% endif %}
</p>

{% endif %}

</div>

