<h1><a title="Return to {{ portfolio.name | escape }}" href="{{ portfolio.page_url}}">{{ portfolio.name }}</a></h1>

<div id="SecondaryColumn">

  {% if work.has_media? or work.embed_code_html %}
<p class="work-data">
  {% if work.audio? %}
    <a href="{{ work.page_url }}">audio file</a>
  {% elsif work.embed_code_html %}
    <a href="{{ work.page_url }}"><img class="limit-thumb120" src="{{ work.embed_thumb_url }}" alt="video" /></a><p>video</p>
  {% else %}
    <a href="{{ work.page_url }}"><img class="limit-thumb120" src="{{ media_thumb_url }}" alt="video" /></a><p>video</p>
  {% endif %}
</p>
<br/>
  {% endif %}

  {% if work.has_alternate_views? %}

  <ul class="gallery-details">


    {% for image in work.visible_images %}
    <li class="limit-thumb120"><a href="{{ work.page_url}}/{{forloop.index}}"><img class="limit-thumb120" src="{% if website.square_thumbs %}{{ image.square_thumb_url }}{% else %} {{ image.thumb_url }}{% endif %}" alt="{{ work.title | escape }} {{ image.caption | escape }}" /></a><p>{{ img.caption | escape }}</p></li>
    {% endfor %}

  </ul>

  <br class="clear" />

  {% endif %}

<h2>{{ work.title | escape }}</h2>

{% if work.date != '' %}
<p class="work-data">{{ work.date }}</p>
{% endif %}
<p class="work-data">{{ work.medium }}</p>
<p class="work-data">{{ work.size }}</p>

{{ work.description | textilize }}

</div>

<div id="PrimaryColumn">

{% if show_media %}
  {% if work.embed_code_html %}
    {{ work.embed_code_html }}
  {% elsif work.audio? %}
  <a href="{{ work.media.audio_url }}" class="audio-link">audio file</a>
  {% else %}
    {% video_embed('large') %}
  {% endif %}
<br/>
<br/>

{% endif %}

{% unless show_media %}
<img src="{{ image.large_url }}" alt="{{ work.title | escape }} {{ image.caption | escape }}" />

<p class="caption">{{ image.caption | textlize_inline }}</p>

{% endunless %}

{% if total_works > 1 %}
<p class="prevnext">
  {% if work.previous_work %}
<a href="{{ work.previous_work.page_url }}">&lt;&lt; Previous</a> |
  {% endif %}

  {% for link in work_links %}
    {% if link.path %}
      <a href="{{ link.path }} ">{{ link.name }}</a>
    {% else %}
      {{ link.name }}
    {% endif %}
  {% endfor %}

  {% if work.next_work %}
| <a href="{{ work.next_work.page_url }}">Next &gt;&gt;</a>
  {% endif %}
</p>
{% endif %}

</div>

