<div id="SecondaryColumn"> 
 {{ collection.description | textilize }}
</div>

<div id="PrimaryColumn">
  <h1 class="artist-list"><a href="{{collection.page_url }}">{{ artist.name | escape }}: {{ collection.title | escape }}</a></h1>

  {% for work in works %}
    <div class="thumb-float">
      <div class="thumb-img"><a href="{{ collection.page_url }}/{{ work.fragment_url }}"><img src="{{ work.featured_image.thumb_url }}" alt="{{ work.title | escape }}"/></a></div>
      <p class="thumb-caption"><em>{{ work.title | escape }}</em>, {{ work.date }}</p>
    </div>
  {% endfor %}

  <br class="clear" />

</div>

